<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.admin.mapper.AdminBannerMapper">


    <select id="sortedList" resultType="com.zerobase.fastlms.admin.dto.AdminBannerDto">
        select ab.*
        from admin_banner ab
        where str_public = 'true'
        order by sort_order
    </select>

</mapper>
